*{
    margin: 0;
    padding: 0;
}

.logo{
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    margin-top: 12px;
    display: flex;
}

.acchyulogo{
    margin: 12px;
}

.logo-title{
    margin-top: 20px;
    font-size: 30px;
}